<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa thông tin</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <style th:insert="/layout::style"></style>
    <script src="/js/jquery-3.7.0.min.js"></script>

    <!--                    //File css Img-->
    <style>
        td {
            padding-right: 30px;
        }

        #dnd {
            height: 300px;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: left;
            margin: 0 auto 2rem;
            border: 2px dashed #ccc;
            width: 200px;
        }


        .preview-img {
            width: 100%;
            height: 100%;
            padding: 0.5em;
            display: inline-block;
        }

        #form-create {
            padding-left: 4rem;
        }

        #form-create .form-check-input {
            width: 16px;
            height: 16px;
        }

        #form-create input,
        #form-create select {
            width: 350px;
            margin-left: 20px;
        }

        small {
            margin-left: 20px;
        }

    </style>
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.css}"
          href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
</head>
<body>
<div th:replace="layout::nav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="layout::content1"></div>
        <div class="col-sm-10" style="background-color: #FEFAE0;min-height: 700px">


            <!-------------------------CODE--------------------------------------------------------------------------------->

            <div class="row" style="margin-top: 15px;margin-bottom: 20px">
                <h1 class="col-10" style="text-align: center">Thay Đổi Thông Tin Nhân Viên</h1>

                <a th:href="@{/user/list}" style="text-decoration: none"
                   class="col-2 d-flex justify-content-center">
                    <button class="btn btn-primary "><i class="fa-solid fa-circle-arrow-left"></i></button>
                </a>

            </div>
            <form th:object="${userDto}" method="post" th:action="@{/user/update}">

                <!--------------//Drag and Drop---------------------------------------------------------->

                <div class="row d-flex ">
                    <div class="col-4">
                        <div id="dnd" class="preview" style="margin-top: 5px">

                        </div>
                        <div class="d-flex justify-content-center">
                            <div>
                                <div>Thả ảnh 4x6 vào đây</div>
                                <progress id="uploader" style="width: 100%" value="0" max="100">0%</progress>
                            </div>
                        </div>
                    </div>
                        <!--                    //Table đăng kí thông tin-->
                    <input hidden="hidden" th:field="*{userId}">
                    <input hidden="hidden" th:field="*{account}">
                    <input hidden="hidden" th:field="*{employeeType}">
                    <input hidden="hidden" th:field="*{userSalary}">
                    <div class="col-8" id="form-create">
                        <table class="table-responsive" style="width: 70%">

                            <tr>
                                <th>Tên nhân viên <span style="color: red">*</span>
                                    <div style=" height: 20px"></div>
                                </th>
                                <td>
                                    <input class="form-control" th:field="*{userName}"
                                           th:value="${userDto.userName}">
                                    <div style=" height: 20px"><small style="color: red"
                                                                      th:if="${#fields.hasErrors('userName')}"
                                                                      th:errors="*{userName}"></small>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th>Giới tính <span style="color: red">*</span>
                                    <div style=" height: 20px"></div>
                                </th>
                                <td>
                                    <input class="form-check-input" type="radio" name="gender" th:field="*{userGender}"
                                           th:value="true">&nbsp;<span>Nam</span>
                                    <input class="form-check-input" type="radio" name="gender" th:field="*{userGender}"
                                           th:value="false">&nbsp;<span>Nữ</span>

                                    <div style=" height: 20px">
                                        <small style="color: red"
                                               th:if="${#fields.hasErrors('userGender')}"
                                               th:errors="*{userGender}">
                                        </small>
                                    </div>
                                </td>
                                </td>
                            </tr>

                            <tr>
                                <th>Ngày sinh <span style="color: red">*</span>
                                    <div style=" height: 20px"></div>
                                </th>
                                <td>
                                    <input class="form-control" type="date" th:field="*{userBirthday}">
                                    <div style=" height: 20px">
                                        <small style="color: red" th:if="${#fields.hasErrors('userBirthday')}"
                                               th:errors="*{userBirthday}">

                                        </small>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th>Điện thoại <span style="color: red">*</span>
                                    <div style=" height: 20px"></div>
                                </th>
                                <td><input class="form-control " th:field="*{userPhoneNumber}">
                                    <div style=" height: 20px">
                                        <small style="color: red" th:if="${#fields.hasErrors('userPhoneNumber')}"
                                               th:errors="*{userPhoneNumber}"></small>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Mail <span style="color: red">*</span>
                                    <div style=" height: 20px"></div>
                                </th>
                                <td>
                                    <input class="form-control" th:field="*{userEmail}">
                                    <div style=" height: 20px">
                                        <small style="color: red" th:if="${#fields.hasErrors('userEmail')}"
                                               th:errors="*{userEmail}"></small>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Căn cước <span style="color: red">*</span>
                                    <div style=" height: 20px"></div>
                                </th>
                                <td><input class="form-control" th:field="*{userIdCard}">
                                    <div style=" height: 20px">
                                        <small style="color: red" th:if="${#fields.hasErrors('userIdCard')}"
                                               th:errors="*{userIdCard}"></small>
                                    </div>
                                </td>
                            </tr>
<!--                            <tr>-->
<!--                                <th>Lương <span style="color: red">*</span>-->
<!--                                    <div style=" height: 20px"></div>-->
<!--                                </th>-->
<!--                                <td>-->
<!--                                    <input class="form-control" th:field="*{userSalary}" type="number"-->
<!--                                           id="salary">-->
<!--                                    <div style=" height: 20px">-->
<!--                                        <small style="color: red" th:if="${#fields.hasErrors('userSalary')}"-->
<!--                                               th:errors="*{userSalary}"></small>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->

                            <tr>
                                <th>Địa chỉ <span style="color: red">*</span>
                                    <div style=" height: 20px"></div>
                                </th>
                                <td><input class="form-control" id="a" th:field="*{userAddress}">
                                    <div style=" height: 20px">
                                        <small style="color: red" th:if="${#fields.hasErrors('userAddress')}"
                                               th:errors="*{userAddress}"></small>
                                    </div>
                                </td>
                            </tr>

<!--                            <tr>-->
<!--                                <th>Ca làm việc <span style="color: red">*</span>-->
<!--                                    <div style=" height: 20px"></div>-->
<!--                                </th>-->
<!--                                <td><select class="form-select" th:field="*{employeeType}">-->
<!--                                    <option th:each="employeeType :${employeeTypeList}"-->
<!--                                            th:value="${employeeType.employeeTypeId}"-->
<!--                                            th:text="${employeeType.employeeTypeName}"></option>-->
<!--                                </select>-->
<!--                                    <div style=" height: 20px"></div>-->
<!--                                </td>-->
<!--                            </tr>-->
                            <tr>

                                <td colspan="2">
                                    <button style="margin-top:20px; width: 100%" id="submit" class="btn btn-primary">
                                        Sửa
                                    </button>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </form>


            <!---------------END BODY---------------------------------------------------------------------------------------->


            <!-------------------------END CODE--------------------------------------------------------------------------------->

        </div>
    </div>
</div>
<div th:replace="layout::footer"></div>
<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.js}"
        src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>



<!--                    //file Js Img-->
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
<script>
    formatSalary()

    function formatSalary() {
        let salary = +document.getElementById("salary").value;
        document.getElementById("salary").value = Math.round(salary);
    }

    const dndElement = document.querySelector('#dnd')
    const resultElement = document.querySelector('.preview')
    const validImageTypes = ['image/gif', 'image/jpeg', 'image/png']

    dndElement.addEventListener('dragover', function (e) {
        e.preventDefault()
        this.classList.add('drag-over')
    })

    dndElement.addEventListener('dragleave', function (e) {
        e.preventDefault()
        this.classList.remove('drag-over')
    })

    dndElement.addEventListener('drop', function (e) {
        e.preventDefault()
        this.classList.remove('drag-over')
        const files = e.dataTransfer.files;
        for (let i = 0; i < files.length; i++) {
            const file = files[i]
            renderPreviewImage(file)
        }
    })

    function renderPreviewImage(file) {
        const fileType = file['type']

        if (!validImageTypes.includes(fileType)) {
            resultElement.insertAdjacentHTML(
                'beforeend',
                '<span class="preview-img">Chọn ảnh đi :3</span>'
            )
            return
        }

        const fileReader = new FileReader()
        fileReader.readAsDataURL(file)

        fileReader.onload = function () {
            const url = fileReader.result
            resultElement.innerHTML = `<img src="${url}" alt="${file.name}" class="preview-img" />`
        }
    }

</script>
</body>
</html>