<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style th:insert="/layout::style"></style>
  <link rel="stylesheet" th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.css}"
        href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
  <style>
    body {
      font-family: "Source Code Pro";
    }
    .form {
      width: 70%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  </style>
</head>
<body>
<div th:replace="layout::nav"></div>
<div class="container-fluid">
  <div class="row">
    <div th:replace="layout::content1"></div>
    <div class="col-sm-10" style="background-color: #FEFAE0;min-height: 700px">
      <div class="form">
        <form class="form-group" th:action="@{/customer/update}" th:object="${customerDto}" method="post">
          <fieldset>
            <legend style="text-align: center"><h1><b>Chỉnh sửa thông tin khách hàng</b></h1></legend>
            <div class="table">
              <table class="table table-hover">
                <tr>
                  <td></td>
                  <td>
                    <input class="form-control" type="hidden" th:field="*{customerId}"/>
                  </td>
                </tr>
                <tr>
                  <th>Tên khách hàng</th>
                  <td><input class="form-control" type="text" th:field="*{customerName}"></td>
                </tr>
                <tr>
                  <th>Giới tính</th>
                  <td>
                    <input type="radio" th:field="*{customerGender}" th:value="true">
                    <span th:text="Nam"></span>
                    <input type="radio" th:field="*{customerGender}" th:value="false">
                    <span th:text="Nữ"></span>
                  </td>
                </tr>
                <tr>
                  <th>Ngày sinh</th>
                  <td><input class="form-control" type="date" th:field="*{customerBirthday}"></td>
                </tr>
                <tr>
                  <th>Số điện thoại</th>
                  <td><input class="form-control" type="number" th:field="*{customerPhoneNumber}"></td>
                </tr>
                <tr>
                  <th>Điểm</th>
                  <td><input class="form-control" th:field="*{customerPoint}" readonly></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <a th:href="@{/customer/list}"><button type="button" class="btn btn-primary">Quay lại
                    </button></a>
                    <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
                  </td>
                </tr>
              </table>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<div th:replace="layout::footer"></div>
<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.js}"
        src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
</body>
</html>